@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

@* <p>Welcome, @User.Identity.Name!</p>

<p>Your profile information:</p>

<ul>
    <li><strong>Name:</strong> @User.Identity.Name</li>
    <li><strong>Email:</strong> @User.Identity.Email</li>
</ul> *@